<!DOCTYPE html>
<html>
<head>
    <title>教学工作量采集与分析系统</title>
    <link rel="stylesheet" type="text/css" href="static\css\analyse_page.css">
    <script src="static/script/script.js"></script>
</head>
<body>
<div class="container">
    <!--导航栏 -->
    <div class="box">
        <ul class="ulList">
            <li class="liList">
                <p onclick="gotoHome()">首页</p>
            </li>
            <li class="liList">
                <p onclick="goTofilePage()">教师工作量采集</p>
            </li>
            <li class="liList">
                <p onclick="goToanalysePage()">教师工作量分析</p>
            </li>
            <li class="liList">
                <p onclick="goTomodifyPage()">教师工作量修改</p>
            </li>
        </ul>
    </div>
    <div class="content">
        <!--个人设置-->
        <div class="Top">
            <ul class="right_menu">
                <li>登出</li>
                <li>个人设置</li>
            </ul>
        </div>
        <!--主要显示内容-->
        <div class="Main_content">
        <div class="search_condition">
            <form action="/analyse_page" method="post">
                <p>教工号：<input type="text" name="teacher_id"> 教师名称：<input type="text" name="teacher_name">
                    <button type="submit"><img src="static/img/search.png" height ="15" width="15" />搜索</button>
                </p>
            </form>
        </div>
            <div class="search_result">
                {% if result %}
                    <table id="table_result">
                        <thead>
                        <tr>
                            <th>教工号</th>
                            <th>教师名称</th>
                            <th>课程总学时</th>
                            <th>毕业论文学生人数</th>
                            <th>毕业论文P</th>
                            <th>指导教学实习人数</th>
                            <th>指导教学实习周数</th>
                            <th>指导教学实习P</th>
                            <th>负责实习点建设与管理P</th>
                            <th>指导本科生竞赛P</th>
                            <th>指导本科生科研P</th>
                            <th>本科生导师制</th>
                            <th>教研教改P</th>
                            <th>一流课程</th>
                            <th>教学成果奖</th>
                            <th>公共服务</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in result %}
                            <tr>
                                <td>{{ row[0] }}</td>
                                <td>{{ row[1] }}</td>
                                <td>{{ row[2] }}</td>
                                <td>{{ row[3] }}</td>
                                <td>{{ row[4] }}</td>
                                <td>{{ row[5] }}</td>
                                <td>{{ row[6] }}</td>
                                <td>{{ row[7] }}</td>
                                <td>{{ row[8] }}</td>
                                <td>{{ row[9] }}</td>
                                <td>{{ row[10] }}</td>
                                <td>{{ row[11] }}</td>
                                <td>{{ row[12] }}</td>
                                <td>{{ row[13] }}</td>
                                <td>{{ row[14] }}</td>
                                <td>{{ row[15] }}</td>
                                <td>{{ row[16] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>没有找到匹配的记录。</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>