<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统注册页面</title>
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
<div class="transparent-box">
    <h1>注册页面</h1>
    <form method="post">
        <label for="username">教工号:</label>
        <input type="text" id="username" name="username" autofocus required>

        <label for="teacher_name">教师姓名:</label>
        <input type="text" id="teacher_name" name="teacher_name" required>

        <label for="password">密码:</label>
        <input type="password" id="password" name="password" required>

        <label for="confirm_password">确认密码:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>

        <button type="submit" name="action" value="register">注册</button>
    </form>
</div>


</body>
</html>