body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  /* 顶部和底部的黑色条框 */
  .header{
    background-color: #000;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0;
  }
    .footer{
    background-color: #000;
    color: #fff;
    padding: 10px;
    width: 100%;
        height:30px;
    text-align: center;
    position: fixed;
    left: 0;
  }
    .header {
    top: 0;
  }
  .footer {
    bottom: 0;
  }
  .content {
  max-width: 100%; /* 改为实际的最大宽度 */
  margin: 0 auto; /* 水平居中 */
      padding-top: 60px; /* 调整顶部条框高度的值，使中间内容不被遮挡 */
  padding-bottom: 40px; /* 调整底部条框高度的值，使中间内容不被遮挡 */
}
    .home-button {
    /* 样式按钮的外观 */
    display: inline-block;
    background-color: #0c0c0c;
    color: #fbfbfb;
    padding: 5px 10px;
    margin-left: 10 px; /* 设置间距 */
        margin-right:auto;
        float:left;
    text-decoration: none;
    font-weight: bold;
  }/* 不确定能不能用*/