* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

li {
    float: left;
  }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover {
    background-color: #111;
  }
li.lo{
    float: right;
}
.vertical-text {
  text-orientation: mixed; /* 混合方式 */
  text-align: center; 
  position: relative;
  bottom:0;
  font-size: 24px; /* 字体大小，根据需要进行调整 */
  font-weight: bold; /* 字体粗细，根据需要进行调整 */
  color: white;
  background-color: #333;
}
#header img {
    max-width: 100%; 
    height: auto; 
    }