<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>新增公共服务信息</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add.css') }}">
    <style>
    </style>
</head>
<body>
<div class="header">
    <li><a href='/toindex' class="home-button">返回首页</a></li>
    教学工作量采集与分析系统
</div>
<div class="content">
    <h2>修改公共服务信息</h2>
    <form method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">日期</label>
            <div class="layui-input-block">
                <input type="text" name="日期" placeholder="请输入日期" class="layui-input" value="{{loader['日期']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <input type="text" name="内容" placeholder="请输入内容" class="layui-input" value="{{loader['内容']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" name="姓名" placeholder="请输入姓名" class="layui-input" value="{{loader['姓名']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">工作时长</label>
            <div class="layui-input-block">
                <input type="text" name="工作时长" placeholder="请输入工作时长" class="layui-input" value="{{loader['工作时长']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">课时</label>
            <div class="layui-input-block">
                <input type="text" name="课时" placeholder="请输入课时" class="layui-input" value="{{loader['课时']}}">
            </div>
        </div>

        <input class="btn" type="submit" name="submit" value="修改">
    </form>
                </div>
<div class="footer"></div>
</body>
</html>