<!DOCTYPE html>
<html>
<head>
    <title>教学工作量采集与分析系统</title>
    <link rel="stylesheet" type="text/css" href="static\css\index.css">
    <script>
      function menu_active(ulId){
          if(ulId.style.display == "none"){
              ulId.style.display = "block";
          }else{
              ulId.style.display = "none";
          }
      }
  </script>
</head>
<body>
<!--头部-->

<!--导航栏 -->
<div class="box">
	<ul class="ulList">
		<li class="liList">
			<p onclick="menu_active(ulOne)">首页</p>
			<ul class="childUl" id="ulOne" style="display: none;">
				<li>选项1.1</li>
				<li>选项1.2</li>
			</ul>
		</li>
		<li class="liList">
			<p onclick="menu_active(ulTwo)">教师工作量采集</p>
			<ul class="childUl" id="ulTwo" style="display: none;">
				<li>选项2.1</li>
				<li>选项2.2</li>
			</ul>
		</li>
		<li class="liList">
			<p onclick="menu_active(ulThree)">教师工作量分析</p>
			<ul class="childUl" id="ulThree" style="display: none;">
				<li>选项3.1</li>
				<li>选项3.2</li>  
				<li>选项3.3</li>
			</ul>
		</li>
	</ul>
</div>
</body>
</html>