<!DOCTYPE html>
<html>
<head>
    <title>教学工作量采集与分析系统</title>
    <link rel="stylesheet" type="text/css" href="static\css\modify_page.css">
	<script src="static/script/jquery-3.7.1.js"></script>
    <script src="static/script/script.js"></script>
</head>
<body>
<div class="container">
<!--导航栏 -->
	<div class="box">
		<ul class="ulList">
			<li class="liList">
				<p onclick="gotoHome()">首页</p>
			</li>
			<li class="liList">
				<p onclick="goTofilePage()">教师工作量采集</p>
			</li>
			<li class="liList">
				<p onclick="goToanalysePage()">教师工作量分析</p>
			</li>
			<li class="liList">
				<p onclick="goTomodifyPage()">教师工作量修改</p>
			</li>
		</ul>
	</div>
	<div class="content">
		<!--个人设置-->
		<div class="Top">
			<ul class="right_menu">
				<li>登出</li>
				<li>个人设置</li>
			</ul>
		</div>
		<!--主要显示内容-->
		<div class="Main_content">
			
			<form action="/modify_page" method="post">
                <p>教工号：<input type="text" name="teacher_id"> 教师名称：<input type="text" name="teacher_name"></p>
				<select name="worksheet">
					<option value="NULL">请选择要修改的表</option>
					<option value="undergraduate_workload_course_ranking">本科工作量课程排序表</option>
					<option value="undergraduate_thesis">毕业论文</option>
					<option value="department_internship">本科实习</option>
					<option value="competition_awards">学生竞赛</option>
					<option value="student_research">学生科研</option>
					<option value="undergraduate_mentorship_system">本科生导师制</option>
					<option value="educational_research_project">教研项目</option>
					<option value="first_class_courses">一流课程</option>
					<option value="teaching_achievement_awards">教学成果奖</option>
					<option value="public_services">公共服务</option>
				</select>
				<button type="submit">查询</button>
            </form>
			<div class="search_result">
				<h1>查询结果</h1>
				<table>
					<thead>
						<tr>
							{% for column in columns %}
								<th>{{ column }}</th> <!-- 显示表的列名 -->
							{% endfor %}
							<th>Actions</th> <!-- 添加操作列 -->
						</tr>
					</thead>
					<tbody>
						{% for row in result %}
							<tr>
								{% for value in row %}
								<td><span class="editable" data-value="{{ value }}" contenteditable="false" >{{ value }}</span></td> <!-- 将每个单元格改为可编辑 -->
								{% endfor %}
							<td>
								<button class="edit-btn">编辑</button>
								<button class="save-btn" style="display:none;">保存</button>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				</div>
		</div>
	</div>
	<script>
	$(document).ready(function() {
    $(document).on('click', '.edit-btn', function() {
        // 编辑按钮点击事件处理
        var $row = $(this).closest('tr');
		console.log($row.html());
        // 将所有单元格设置为可编辑状态
        $row.find('.editable').attr('contenteditable', 'true');
        // 隐藏编辑按钮，显示保存按钮
        $row.find('.edit-btn').hide();
        $row.find('.save-btn').show();
    });

    $(document).on('click', '.save-btn', function() {
		var $row = $(this).closest('tr');

        // 将所有单元格设置为不可编辑状态
        $row.find('.editable').attr('contenteditable', 'false');
        var rowData = {};

        // 遍历编辑中的单元格
        $row.find('.editable.editing').each(function() {
            var key = $(this).data('value');
            var value = $(this).text();
            rowData[key] = value;
        });

        // 发送数据到后端
        $.ajax({
            type: 'POST',
            url: '/analyse_page/update',
            contentType: 'application/json',
            data: JSON.stringify(rowData),
            success: function(response) {
                console.log(response);
                // 根据后端响应进行进一步处理
            },
            error: function(error) {
                console.error('Error:', error);
            }
        });

        // 完成保存后恢复状态
        $row.find('.edit-btn').show();
        $row.find('.save-btn').hide();
    });
});
	</script>
</body>
</html>