*,body{
    margin: 0;
    padding: 0;
}

.box {
    width: 200px;
    height: 100%;
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
}

.ulList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.liList {
    background-color: #CCCCCC;
    position: relative;
}

.liList p {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

.childUl {
    display: none;
}

.liList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.liList ul li {
    height: 60px;
    line-height: 60px;
    background-color: #8090f6;
    text-align: center;
}