*, body {
    margin: 0;
    padding: 0;
}

.box {
    width: 200px;
    height: 100vh; /* 使用视窗高度作为高度单位 */
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto; /* 添加垂直滚动条 */
}

.ulList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.liList {
    background-color: #CCCCCC;
    position: relative;
}

.liList p {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    cursor: pointer; /* 添加指针样式 */
}

.childUl {
    display: none;
}

.liList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.liList ul li {
    height: 60px;
    line-height: 60px;
    background-color: #8090f6;
    text-align: center;
}
.content {
    flex: 1;
    margin-left: 200px; /* 导航栏宽度 */
}