<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>新增学生科研信息</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add.css') }}">
    <style>
    </style>
</head>
<body>
<div class="header">
    <li><a href='/toindex' class="home-button">返回首页</a></li>
    教学工作量采集与分析系统
</div>
<div class="content">
    <h2>新增学生科研信息</h2>
    <form method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">序号</label>
            <div class="layui-input-block">
                <input type="text" name="序号" placeholder="请输入序号" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">项目名称</label>
            <div class="layui-input-block">
                <input type="text" name="项目名称" placeholder="请输入项目名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">级别</label>
            <div class="layui-input-block">
                <input type="text" name="级别" placeholder="请输入级别" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">负责人</label>
            <div class="layui-input-block">
                <input type="text" name="负责人" placeholder="请输入负责人" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学号</label>
            <div class="layui-input-block">
                <input type="text" name="学号" placeholder="请输入学号" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">项目组总人数</label>
            <div class="layui-input-block">
                <input type="text" name="项目组总人数" placeholder="请输入项目组总人数" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">指导教师</label>
            <div class="layui-input-block">
                <input type="text" name="指导教师" placeholder="请输入指导教师" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">验收结果</label>
            <div class="layui-input-block">
                <input type="text" name="验收结果" placeholder="请输入验收结果" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">总工作量</label>
            <div class="layui-input-block">
                <input type="text" name="总工作量" placeholder="请输入总工作量" class="layui-input">
            </div>
        </div>

        <input class="btn" type="submit" name="submit" value="新增">
    </form>
            </div>
<div class="footer"></div>
</body>
</html>