<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>新增教研项目信息</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add.css') }}">
    <style>
    </style>
</head>
<body>
<div class="header">
    <li><a href='/toindex' class="home-button">返回首页</a></li>
    教学工作量采集与分析系统
</div>
<div class="content">
    <h2>新增教研项目信息</h2>
    <form method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">学号</label>
            <div class="layui-input-block">
                <input type="text" name="学号" placeholder="请输入学号" class="layui-input" value="{{loader['学年']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学期</label>
            <div class="layui-input-block">
                <input type="text" name="学期" placeholder="请输入学期" class="layui-input" value="{{loader['学期']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">自然年</label>
            <div class="layui-input-block">
                <input type="text" name="自然年" placeholder="请输入自然年" class="layui-input" value="{{loader['自然年']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上下半年</label>
            <div class="layui-input-block">
                <input type="text" name="上下半年" placeholder="请输入上下半年" class="layui-input" value="{{loader['上下半年']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">课程号</label>
            <div class="layui-input-block">
                <input type="text" name="课程号" placeholder="请输入课程号" class="layui-input" value="{{loader['课程号']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">课程名称</label>
            <div class="layui-input-block">
                <input type="text" name="课程名称" placeholder="请输入课程名称" class="layui-input" value="{{loader['课程名称']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">教工号</label>
            <div class="layui-input-block">
                <input type="text" name="教工号" placeholder="请输入教工号" class="layui-input" value="{{loader['教工号']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">教师名称</label>
            <div class="layui-input-block">
                <input type="text" name="教师名称" placeholder="请输入教师名称" class="layui-input" value="{{loader['教师名称']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">研讨学时</label>
            <div class="layui-input-block">
                <input type="text" name="研讨学时" placeholder="请输入研讨学时" class="layui-input" value="{{loader['研讨学时']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">授课学时</label>
            <div class="layui-input-block">
                <input type="text" name="授课学时" placeholder="请输入授课学时" class="layui-input" value="{{loader['授课学时']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">实验学时</label>
            <div class="layui-input-block">
                <input type="text" name="实验学时" placeholder="请输入实验学时" class="layui-input" value="{{loader['实验学时']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">选课人数</label>
            <div class="layui-input-block">
                <input type="text" name="选课人数" placeholder="请输入选课人数" class="layui-input" value="{{loader['选课人数']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学生数量权重系数B</label>
            <div class="layui-input-block">
                <input type="text" name="学生数量权重系数B" placeholder="请输入学生数量权重系数B" class="layui-input" value="{{loader['学生数量权重系数B']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">课程类型系数A</label>
            <div class="layui-input-block">
                <input type="text" name="课程类型系数A" placeholder="请输入课程类型系数A" class="layui-input" value="{{loader['课程类型系数A']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">理论课总学时P1</label>
            <div class="layui-input-block">
                <input type="text" name="理论课总学时P1" placeholder="请输入理论课总学时P1" class="layui-input" value="{{loader['理论课总学时P1']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">实验分组数</label>
            <div class="layui-input-block">
                <input type="text" name="实验分组数" placeholder="请输入实验分组数" class="layui-input" value="{{loader['实验分组数']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">实验课系数</label>
            <div class="layui-input-block">
                <input type="text" name="实验课系数" placeholder="请输入实验课系数" class="layui-input" value="{{loader['实验课系数']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">实验课总学时P2</label>
            <div class="layui-input-block">
                <input type="text" name="实验课总学时P2" placeholder="请输入实验课总学时P2" class="layui-input" value="{{loader['实验课总学时P2']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">课时拆分占比</label>
            <div class="layui-input-block">
                <input type="text" name="课时拆分占比" placeholder="请输入课时拆分占比" class="layui-input" value="{{loader['课时拆分占比(工程中心用)']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">本科课程总学时</label>
            <div class="layui-input-block">
                <input type="text" name="本科课程总学时" placeholder="请输入本科课程总学时" class="layui-input" value="{{loader['本科课程总学时P=P1+P2']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">课程总学时</label>
            <div class="layui-input-block">
                <input type="text" name="课程总学时" placeholder="请输入课程总学时" class="layui-input" value="{{loader['课程总学时']}}">
            </div>
        </div>

        <input class="btn" type="submit" name="submit" value="修改" >
    </form>
                    </div>
<div class="footer"></div>
</body>
</html>