<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>新增本科生导师制信息</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add.css') }}">
    <style>
    </style>
</head>
<body>
<div class="header">
    <li><a href='/toindex' class="home-button">返回首页</a></li>
    教学工作量采集与分析系统
</div>
<div class="content">
    <h2>新增本科生导师制信息</h2>
    <form method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">导师姓名</label>
            <div class="layui-input-block">
                <input type="text" name="导师姓名" placeholder="请输入导师姓名" class="layui-input" value="{{loader['导师姓名']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">教工号</label>
            <div class="layui-input-block">
                <input type="text" name="教工号" placeholder="请输入教工号" class="layui-input" value="{{loader['导师姓名']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学生姓名</label>
            <div class="layui-input-block">
                <input type="text" name="学生姓名" placeholder="请输入学生姓名" class="layui-input" value="{{loader['学生姓名']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年级</label>
            <div class="layui-input-block">
                <input type="text" name="年级" placeholder="请输入年级" class="layui-input" value="{{loader['年级']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学号</label>
            <div class="layui-input-block">
                <input type="text" name="学号" placeholder="请输入学号" class="layui-input" value="{{loader['学号']}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">说明</label>
            <div class="layui-input-block">
                <input type="text" name="说明" placeholder="请添加说明" class="layui-input" value="{{loader['说明']}}">
            </div>
        </div>

        <input class="btn" type="submit" name="submit" value="新增">
    </form>
                    </div>
<div class="footer"></div>
</body>
</html>