<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>一流课程</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add.css') }}">
    <style>
        table{
            border-collapse:collapse;/*折叠成一个单一的边框*/
        }
        table,td{
            border:1px solid #AAA;
        }
        td {
            width: 100px;
        }
    </style>
</head>
<body>
<div class="header">
    <li><a href='/toindex' class="home-button">返回首页</a></li>
    教学工作量采集与分析系统
</div>
<div class="content">
    <h2>一流课程</h2>
    <table class="layui-table" lay-even lay-skin="nob">
        <tr>
            <td>课程性质</td>
            <td>内容</td>
            <td>负责人</td>
            <td>工作量分配</td>
            <td></td>
        </tr>
        {% for loader in loaders %}  {# 迭代 students 变量 #}
        <tr>
            <td>{{loader['课程性质']}}</td>
            <td>{{loader['内容']}}</td>
            <td>{{loader['负责人']}}</td>
            <td>{{loader['工作量分配']}}</td>
            <td><i class="layui-icon layui-icon-edit" style="color:#0000ff"></i>
                <a href="/edit1/{{loader['课程性质']}}/{{loader['内容']}}/{{loader['负责人']}}/{{loader['工作量分配']}}" style="color:#0000ff">修改</a>
                <i class="layui-icon layui-icon-delete" style="color:#f44336"></i>
                <a href="/delete1/{{loader['课程性质']}}/{{loader['内容']}}/{{loader['负责人']}}/{{loader['工作量分配']}}" style="color:#f44336">删除</a></td>
        </tr>
        {% endfor %}  {# 使用 endfor 标签结束 for 语句 #}
    </table>
    <p><a href="/add1" class="layui-btn layui-btn-primary layui-border-blue">新增数据</a></p>
            </div>
<div class="footer"></div>
</body>
</html>