*, body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
}

.box {
    width: 200px;
    height: 100vh; /* 使用视窗高度作为高度单位 */
    background-color: rgb(48, 65, 86);
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto; /* 添加垂直滚动条 */
}

.ulList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.liList {
    background-color: rgb(48, 65, 86);
    position: relative;
}

.liList p {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: white;
    cursor: pointer; /* 添加指针样式 */
}

.childUl {
    display: none;
}

.liList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.liList ul li {
    height: 60px;
    line-height: 60px;
    background-color: #8090f6;
    text-align: center;
}

.content {
    height: 100vh; /* 使用视窗高度作为高度单位 */
    margin-left: 200px; /* 导航栏宽度 */
    background-color: #f3f3f4
}

.right_menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: fixed; /* 使用固定定位 */
    top: 0;
    right: 0;
    display: flex; /* 使用 Flex 布局使得子元素横向排列 */
}

.right_menu li {
    padding: 10px;
    margin: 5px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}

.Top {
    background-color: #3c8dbc; /* 设置背景颜色 */
    padding: 30px;
}

.cursor-pointer {
    cursor: pointer;
}
